*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url('background\ web.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    padding:15px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    
}

.logo {
    width:60px;
    height:60px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top:0px;
    float: left;
}

header a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight:500;
    text-decoration: none;
    padding-left:  0px;
    padding-right: 0px;
    padding-top: 0px;
    float: right;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight:500;
    text-decoration: none;
    padding-left:  10px;
    padding-right: 20px;
}

.navbar a:hover{
    text-decoration: underline;
    color:rgb(0, 204, 255)
}

.text-box h2{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5%;
    margin-top: 8%;
    margin-right: 8%;

}

.wrapper p{
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5%;
    margin-top: 0px;
    margin-right: 8%;
    margin-bottom: 8%;
}

.wrapper img{
    float: left;
    width:630px;
    height:630px;
    object-fit: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-bottom:6%;

}

.section {
    padding: 80px 10%;
    text-align: center;
}

.gallery {
    background-color: #0a192f;
    padding: 60px 10%;
}

.gallery h2 {
    font-size: 36px;
    font-weight: bold;
    color: #a3d8f4;
    align-items: center;
}

.gallery-container {
    display: flex;
    gap:20px;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item img {
    width: 490px;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.3s;
    padding-bottom:0
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item p {
    font-size: 20px;
    color: #a3d8f4;
    font-weight: bold;
}


footer {
    background: #000000;
    color: white;
    padding: 40px 10%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.footer-info, .social-links, .footer-map {
    flex: 1;
    min-width: 250px;
}

.footer-info h3, .social-links h3, .footer-map h3 {
    font-size: 22px;
    font-weight: bold;
    color: #a3d8f4;
    margin-bottom: 10px;
}


.footer-info a {
    color: #66b3ff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}


.last-footer{
    display: flex; 
    flex-direction: column;
    background-color: #173660;
    padding:20px;
}

.last-footer a {
    color: azure;
    padding: 0px 10px 10px 10px;
}

.social-links{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:20px;
    text-decoration: none;
}

.madeby{
    display:flex;
    justify-content:center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top:5px;
    padding-bottom:20px;
}


.footer-bottom {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #a3d8f4;
    text-align: center;
}