*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(48, 136, 187);
}

header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    padding:15px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo {
    width:60px;
    height:60px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top:0px;
    float: left;
}

header a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight:500;
    text-decoration: none;
    padding-left:  0px;
    padding-right: 0px;
    padding-top: 0px;
    float: right;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight:500;
    text-decoration: none;
    padding-left:  10px;
    padding-right: 20px;
}

.text-box h2{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5%;
    margin-top: 8%;
    margin-right: 8%;

}

.wrapper p{
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5%;
    margin-top: 0px;
    margin-right: 8%;
    margin-bottom: 8%;
}

img{
    width:630px;
    height:630px;
    object-fit: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom:6%;
    float: left;
    display:flex;

}

.galeriperusahaan{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5%;
    margin-top: 3%;
    margin-right:50%;
}

.galeri{
    display: flex;
    flex-wrap: wrap;
    background-color: #173660;
}

.galeri img{
    width:500px;
    height:500px;
    justify-content:center;
    align-items: center;
    float: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    left:0;
    bottom:0;
    width:100%;
    background-color: rgb(0, 0, 0);
    color:white;
}

.isi-footer{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left:11%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom:5%;
    text-align:left;
}

