*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(48, 101, 214);
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}